<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-space-around">
    <div>
        <button type="submit" class="btn btn-sm btn-outline-secondary"><a href="/register">Register</a></button>
        <button type="submit" class="btn btn-sm btn-outline-secondary"><a href="/login">Login</a></button>
        <button type="submit" class="btn btn-sm btn-outline-secondary"><a href="/addPost">addPost</a></button>
    </div>
    <span class="navbar-text ">
      Navbar text with an inline element
    </span>
  </form>
</nav>
<h2>index page</h2>