

<form  action="/register" method="POST" class="login_windows">
    <h1 >{{title}}</h1>
    <label for="name" >Name:</label>
    
    <input type="text" name="name" required>
    
    <label for="lastName" >Last Name:</label>
    
    <input type="text" name="lastName" required>
    
    <label for="email" >Email:</label>
    
    <input type="email"  name="email" required>
    
    <label for="password" >Pasword:</label>
    
    <input type="password"  name="password" required>
    
    <button type="submit" class="btn btn-sm btn-outline-secondary">Register</button>
    <button class="btn btn-sm btn-outline-secondary"><a href="/login"></a>Login</button>
</form>